{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Generator Clone</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="{% static 'website/index.js' %}"></script>
    <script src="{% static 'website/carhartl-jquery-cookie-92b7715/jquery.cookie.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css"
    />

    <style>
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="w-full px-72 items-center pt-32">
      <h1 class="font-bold text-2xl text-center">INVOICE GENERATOR</h1>
      <div
        class="container w-full border border-gray-400"
        x-ref="printTemplate"
        id="printTemplate"
        x-data="fetchData(items, subtotal)"
      >
        <div class="p-4" id="page">
          <form
            action=""
            class="py-4"
            id="form"
            onsubmit="alert('stop submit'); return false;"
          >
            {% csrf_token %}
            <div class="flex justify-between">
              <div class="relative w-52 border border-gray-400 h-24">
                <div class="py-8">
                  <div
                    class="text-gray-400 text-center text-lg font-bold items-center flex justify-center"
                  >
                    <svg
                      class="inline-block h-4"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="plus"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      data-fa-i2svg=""
                    >
                      <path
                        fill="currentColor"
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                      ></path>
                    </svg>
                    <span class="p-1">Add your logo</span>
                  </div>
                  {% comment "TODO" %}<img src="" alt="" class="hidden" />
                  {%endcomment %}
                  <input
                    type="file"
                    name=""
                    id=""
                    class="w-full absolute left-0 p-0 appearance-none opacity-0 top-0"
                    style="height: 20px"
                  />
                  <input
                    type="file"
                    name=""
                    id=""
                    class="w-full absolute left-0 p-0 appearance-none opacity-0 top-5"
                    style="height: 20px"
                  />
                  <input
                    type="file"
                    name=""
                    id=""
                    class="w-full absolute left-0 p-0 appearance-none opacity-0 top-10"
                    style="height: 20px"
                  />
                  <input
                    type="file"
                    name=""
                    id=""
                    class="w-full absolute left-0 p-0 appearance-none opacity-0 top-15"
                    style="height: 20px"
                  />
                  <input
                    type="file"
                    name=""
                    id=""
                    class="w-full absolute left-0 p-0 appearance-none opacity-0 top-20"
                    style="height: 20px"
                  />
                </div>
              </div>
              <div class="grid grid-rows-2">
                <div>
                  <input
                    type="text"
                    value="INVOICE"
                    class="text-2xl text-right"
                  />
                </div>
                <div>
                  <span
                    class="py-1.5 px-3 text-center border border-gray-300 items-center border-solid rounded"
                    >#</span
                  >
                  <input
                    type="text"
                    class="py-1.5 px-3 text-center border border-gray-300 items-center border-solid rounded"
                  />
                </div>
              </div>
            </div>
            <div class="grid grid-cols-3 pt-10">
              <div class="col-span-2 grid grid-rows-2 gap-4">
                <input
                  type="text"
                  placeholder="Who is this invoice from? (required)"
                  class="h-16 pl-2 w-72 border border-gray-400"
                  required
                />
                <div class="grid grid-cols-2 gap-4">
                  <div>
                    <input type="text" value="Bill to" />
                    <br />
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="who is this invoice to? (required)"
                      class="h-16 pl-2 w-72 border border-gray-400"
                    />
                  </div>
                  <div>
                    <input type="text" name="" value="Ship to" />
                    <br />
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Address to ship"
                      class="h-16 pl-2 w-72 border border-gray-400"
                    />
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-3 gap-2">
                <div class="grid grid-rows-4">
                  <label for="date" class="px-2">Date</label>
                  <label for="terms" class="px-2">Terms</label>
                  <label for="due_date" class="px-2">Due Date</label>
                  <label for="po_number" class="px-2">PO Number</label>
                </div>
                <div class="col-span-2 grid grid-rows-4">
                  <div>
                    <input
                      type="date"
                      name="date"
                      class="border border-gray-400 px-2"
                    />
                  </div>
                  <div>
                    <input
                      type="text"
                      name="terms"
                      class="border border-gray-400 px-2"
                    />
                  </div>
                  <div>
                    <input
                      type="date"
                      name="due_date"
                      class="border border-gray-400 px-2"
                    />
                  </div>
                  <div class="">
                    <input
                      type="text"
                      name="po_number"
                      class="border border-gray-400 px-2"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full pt-8">
              <div class="grid grid-cols-10">
                <div
                  class="col-span-7 pl-3 text-white"
                  style="background-color: rgb(30 41 59)"
                >
                  Item
                </div>

                <div
                  class="w-fit pl-3 text-white"
                  style="background-color: rgb(30 41 59)"
                >
                  Quantity
                </div>
                
                <div
                  class="w-fit pl-3 text-white"
                  style="background-color: rgb(30 41 59)"
                >
                Rate
                </div>
                <div
                  class="w-fit pl-3 text-white"
                  style="background-color: rgb(30 41 59)"
                >
                  Amount
                </div>
              </div>
              <div>
                <template x-for="item in items">
                  <div x-html="item"></div>
                </template>
                <div></div>
              </div>

              <div class="py-1.5">
                <button
                  x-on:click="createItem()"
                  class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded"
                  type="button"
                >
                  Line Item +
                </button>
              </div>
            </div>
            <div class="py-6">
              <div class="grid grid-cols-10">
                <div class="col-span-6"></div>
                <div class="col-span-4 grid grid-cols-2">
                  <div class="grid grid-rows-5">
                    <input type="text" value="Subtotal" class="text-right" />
                    <input type="text" value="Tax" class="text-right" />
                    <input type="text" value="Total" class="text-right" />
                    <input type="text" value="Amount Paid" class="text-right" />
                    <input type="text" value="Balance Due" class="text-right" />
                  </div>
                  <div
                    class="grid grid-rows-5 text-center"
                    x-data="{tax: 0, amountPaid : 0}"
                  >
                    <div class="py-3" x-html="subtotal">3.0$</div>
                    <div
                      x-init="setInterval(() => subtotal = getSubTotal(), 100)"
                    ></div>
                    <input
                      type="number"
                      name=""
                      id=""
                      value="0"
                      x-model="tax"
                      class="text-center"
                      placeholder="Tax"
                    />
                    <div x-html="subtotal + (tax/100)"></div>
                    <input
                      type="number"
                      name=""
                      id=""
                      value="0"
                      x-model="amountPaid"
                      class="text-center"
                    />
                    <div x-html="subtotal + (tax/100) - amountPaid">3.0$</div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" x-on:click="updatePieFact()">S</button>
          </form>
          <form
            class="hidden"
            id="addItemForm"
            x-on:submit="event.preventDefault(); formSumbit(items);"
          >
            <label for="NewItem">Item</label>
            <input type="text" name="newItem" id="newItem" />
            <label for="newQuantity">Quantity</label>
            <input type="text" name="newQuantity" id="newQuantity" />
            <label for="newRate">Rate</label>
            <input type="text" name="newRate" id="newRate" />
            <button type="sumbit">Add an item</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      let items = [];
      let subtotal = getSubTotal();
      function fetchData(items, subtotal) {
        return {
          items: items,
          subtotal: subtotal,
        };
      }
      function createItem() {
        document.getElementById("form").className = "hidden";
        document.getElementById("addItemForm").className = "";
      }
      function formSumbit(items) {
        var newRate = document.getElementById("newRate").value;
        var newQuantity = document.getElementById("newQuantity").value;
        var newItem = document.getElementById("newItem").value;
        items.push(`<div class="grid grid-cols-10">
          <div
            class="col-span-7 pl-3"
          >
            ${newItem}
          </div>

          <div
            class="w-fit pl-3"
            
          >
            ${newQuantity}
          </div>
          
          <div
            class="w-fit pl-3"
            
          >
          ${newRate}
          </div>
          <div
            class="w-fit pl-3"
           
          >
            <div class="amount" x-text="Number(${newQuantity}) * Number(${newRate})">

            </div>
          </div>
        </div>`);
        document.getElementById("form").className = "py-4";
        document.getElementById("addItemForm").className = "hidden";
      }
      function getSubTotal() {
        let n = 0;
        const elements = document.getElementsByClassName("amount");
        for (let i = 0; i < elements.length; i++) {
          n = Number(elements.item(i).innerText) + n;
        }
        return n;
      }
      function printInvoice() {
        var printContents = document.getElementById("printTemplate").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        return false;
      }
      var URL = "{% url 'view' %}";
      var printContents = document.getElementById("printTemplate").innerHTML;
      function updatePieFact() {
        var csrftoken = $.cookie("csrftoken");

        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });

        $.ajax(URL, {
          type: "POST",
          data: {
            printContents: printContents,
          },
          success: function () {
            alert("Saved!");
          },
        });
      }
    </script>
  </body>
</html>
