<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css" />
    <style>
        [x-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div x-data="{
        open: false, 
        name:'Yousif', 
        search:'',
        posts : [
            {title:'One'},
            {title:'Two'},
            {title:'Three'},
            {title:'Four'},
        ]}">

        <button 
        x-bind:class="open ? 'bg-indigo' : 'bg-black'"
        class="text-white px-4 py-2 rounded-xl"
        x-on:click="open = !open"
        
        >
            Toggle
        </button>

        <div
        x-show="open" 
        x-cloak
        x-transition
        >

            <p>Meow Mwoeawodfesjifhes</p>
        </div>
        <div>
            The Value of Name is <span x-text="name"></span>
        </div>
        <div x-effect="console.log(open)">

        </div>
        <input 
        type="text" 
        class="border p-2 w-full mb-2 mt-6"
        x-model="search"
        placeholder="Searching for something... "
        >
        <p>
            <span class="font-bold">Seaching for: </span>
            <span x-text="search"></span>
        </p>
        
        <template x-for="post in posts">
            <div x-text="post.title"></div>
        </template>
        <button @click="posts.push({title: 'new Post'})" class="bg-blue-800 text-white px-4 py-2 rounded-lg mt-4">
             Add Post
        </button>

        <div x-ref="text">
            Something here is about to change
        </div>
        <button
        @click="$refs.text.innerText = 'that thing is changes successfully'"
        class="bg-black text-white rounded-lg p-2"
        >
        change text    
    </button>
    <button
        @click="$el.innerHTML = 'Hello World'"
        class="bg-black text-white rounded-lg p-2"
        >
        change text  
    </button>
    </div>
</body>
</html>



